/**
 * @name Tarkov [Interchange]
 * @author Err0rCZE
 * @version 2.0.0
 * @description Tarkov vzhled pro discord. Všechny vás mám rád
*/

:root {
    --background-image: url('https://cdna.artstation.com/p/assets/images/images/022/787/956/large/valentin-dupoyet-tarkovchristmas.jpg?1576687085');
    /*--background-image: url('https://i.gyazo.com/05d4fc11f481327aeaaa1592fc0e03c8.png');*/
    --background-shading: 10%;
    --background-position: center;
    --background-size: cover;
    --background-repeat: repeat;
    --background-attachment: fixed;
    --background-brightness: 90%;
    --background-contrast: 100%;
    --background-saturation: 115%;
    --background-grayscale: 0%;
    --background-invert: 0%;
    --background-blur: 0px;
    --background-overlay: rgb(0,0,0,0.5);
}