/**
 * @name Tarkov [Woods]
 * @author Err0rCZE
 * @version 2.0.0
 * @description Tarkov vzhled pro discord. V코echny v치s m치m r치d
*/

:root {
    --background-image: url('https://i.imgur.com/qXKY22J.png');
    --background-shading: 0%;
    --background-position: center;
    --background-size: cover;
    --background-repeat: repeat;
    --background-attachment: fixed;
    --background-brightness: 300%;
    --background-contrast: 100%;
    --background-saturation: 100%;
    --background-grayscale: 0%;
    --background-invert: 0%;
    --background-blur: 0px;
    --background-overlay: rgb(0,0,0,0.37);
}