/**
 * @name Tarkov [Labs - Industrial]
 * @author Err0rCZE
 * @version 2.0.0
 * @description Tarkov vzhled pro discord. Všechny vás mám rád
*/

:root {
    --background-image: url('https://i.gyazo.com/f636ec1bd2cada56c815d899adfb5b00.png');
    /*--background-image: url('https://i.gyazo.com/05d4fc11f481327aeaaa1592fc0e03c8.png');*/
    --background-shading: 1%;
    --background-position: center;
    --background-size: cover;
    --background-repeat: repeat;
    --background-attachment: fixed;
    --background-brightness: 185%;
    --background-contrast: 115%;
    --background-saturation: 105%;
    --background-grayscale: 0%;
    --background-invert: 0%;
    --background-blur: 0px;
    --background-overlay: rgb(0,0,0,0.60);
}